.header {
    @apply inset-x-0 z-50 lg:block hidden;
    /* background-color: var(--header-background-color); */
    color: var(--header-navigation-color);
    background-image: url('https://cdn.sanity.io/images/oub3uazf/production/abf0e6dfb71321cee017365bdecb39cd5875db4d-1140x716.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

}

.stickyHeader {
  position: fixed;
  top: 0; /* Initial position above the viewport */
  left: 0;
  right: 0;
}

.topHeader {
    background-color: var(--top-header-background);
    color: var(--top-header-text-color);
}

.navLinks {
    @apply font-semibold leading-6 py-2 block rounded-md lg:inline-flex items-center outline-none;
}

.desktopDropDown {
    @apply relative grid bg-white px-3 py-2 divide-y
}

.topHeaderContainer {
    @apply mx-auto flex h-10 max-w-7xl items-center justify-between px-4 sm:px-6 lg:px-8
}

.navWrapper {
    @apply mx-auto flex lg:w-5/6 items-center justify-between py-3 lg:px-2 md:px-4 px-4 space-x-10
}

.desktopLogoContainer {
    @apply flex flex-1 relative shrink-0
}

.desktopMenuContainer {
    @apply lg:flex flex-1 lg:gap-x-8 justify-end
}

.toggleMenu {
    @apply flex lg:hidden
}

.mobileHeaderMenu {
    @apply lg:hidden block z-50;
    background-color: var(--header-background-color);
    color: var(--header-navigation-color);
}

.mobileDisclosureButton {
    @apply inline-flex items-center justify-center rounded-md p-2;
    color: var(--header-navigation-color);
}

.toggleMenuButton {
    @apply -m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700
}

.desktopPopOverPanel {
    @apply absolute z-50 -ml-4 mt-3 transform px-2 w-screen max-w-xs sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2
}

.mobileDropDownContact {
    @apply pb-3 pt-4 block;
}